<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mokiniu pridejimas</title>
</head>
<body>
<h3>Prideti mokini:</h3>

<form action="/prideti-mokini" method="post">
  <input type="text" id="vardas" name="vardas" placeholder="Iveskite varda" required>
  <input type="text" id="pavarde" name="pavarde" placeholder="Iveskite pavarde" required>
  <input type="number" id="klase" name="klase" placeholder="Iveskite klase" required>
  <input type="submit" value="Prideti">
</form>
<br>
<a href="/">Grizti i pagrindini puslapi</a>
</body>
</html>