<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Darboviete</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h3>Informacija apie organizacija - {{darboviete.pavadinimas}}</h3>
<p><strong>Pavadinimas:</strong> {{darboviete.pavadinimas}} </p>
<p><strong>Miestas:</strong> {{darboviete.miestas}} </p>
<p><strong>Darbuotoju skaicius:</strong> {{darboviete.darbuotoju_skaicius}}</p>
<br>
<div class="buttonContainer">
    <a href="/" class="whiteButton">Grizti i pagrindini puslapi</a>
</div>
</body>
</html>